*{
    margin: 0;
    padding: 0;
}

.ocultar{
    display: none;
}

body{
    font-family: 'KoHo', sans-serif;
    background-image: url(img/fondo-pokemon_go_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'KoHo', sans-serif;
    height: 100vh;
}

header{
    max-width: 375px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box
}

header img{
    height: 80%;
}

main{
    margin: 0px;
    padding: 0px;
}


  /*  font-family: 'KoHo', sans-serif;*/

header{
    margin: 0 auto;
    max-width: 375px;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
}
header img{
    height:80%;
}
main{
    max-width: 375px;
    margin: 0 auto;
}

section{  
    width: 320px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .2);
}

form{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
}

input{
    width: 100%;
    height: 44px;
    text-align: center;
    font-family: KoHo;
    border-radius: 10px;
    border: 2px solid #bdbdbd;
}

.formBuscar{
    margin-bottom: 15px;
}

h1{
    font-size: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0 15px 0;
    font-weight: lighter;
}

#buscador{
    width: 250px;
    height: 44px;
    font-family: KoHo;
    font-size: 15px;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    
}
.formBuscar{
    display: flex;
    flex-direction: row; 
    align-content: center; 
}
.boton-buscar{
    background-color:rgba(255, 255, 255);
    background-image: url(img/pokelupa.svg);
    background-position: center;
    width: 30px;
    height: 44px;
    background-repeat: no-repeat;
    border: 2px solid #BDBDBD;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: auto;
}

#contenedor::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

#contenedor::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#contenedor::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

#contenedor::-webkit-scrollbar{
    width: 8px;     /* Tamaño del desplazamiento en vertical */
    height: 8px;    /* Tamaño del desplazamiento en horizontal */
}

.contenedor::-webkit-srollbar-thumb{
    background-color: rgb(77, 75, 75);
    border-radius: 4px ;
}
.contenedor::-webkit-scrollbar-thumb:hover {
    background: #f1eeee;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.contenedor::-webkit-scrollbar-thumb:active {
    background-color: #70a172;
}
#contenedor::-webkit-scrollbar-track{
    background-color: #c4c3c3;
    border-radius: 6px;
}
.contenedor::-webkit-scrollbar-track:hover,
.contenedor::-webkit-scrollbar-track:active {
  background: #915b5b;
}
.contenedorPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: white;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}
.imgPokemon{
    height: 60%;
}
a{
    padding: 10px 0;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
.enlace{
    font-size: 14px;
}
aside{
    width: 320px;
    height: 240px;
    background-color: red;
    margin-top: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){

    main{
        max-width: 750px;
    }

    section{
        width: 740px;
    }

    #contenedor{
        width: 720px;
    }

    aside{
        width: 740px;
    }

    form{
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px){
    main{
        display: flex;
        flex-direction: row;
        max-width: 90%;
        height: 540px;
        margin: 0 auto;
        justify-content: space-between;
    }

    section{
        width: 67%;
        height: 100%;
        margin: 0;
    }

    aside{
        width: 30%;
        height: 100%;
        margin-top: 0;
    }

    #contenedor{
        width: 90%;
        height: 400px;
        box-sizing: border-box;
    }

    .selectores{
        width: 90%;
        margin: 0 auto;
    }

    form{
        margin: 0;
    }
}