*{
    margin: 0;
    padding: 0;
}

.ocultar{visibility: hidden;}

.mostrar{visibility: visible;}

body{
    font-family: 'KoHo', sans-serif;
    background-image: url(img/fondo-pokemon_go_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'KoHo', sans-serif;
    height: 100vh;
}

header{
    max-width: 375px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box
}

header img{height: 80%;}

main{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0 auto;
    max-width: 375px;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
}
header img{
    height:80%;
}
main{
    max-width: 375px;
    margin: 0 auto;
}

section{  
    width: 320px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .2);
}

form{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
}

input{
    width: 100%;
    height: 44px;
    text-align: center;
    font-family: KoHo;
    border-radius: 10px;
    border: 2px solid #bdbdbd;
}

.formBuscar{
    margin-bottom: 15px;
}

h1{
    font-size: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0 15px 0;
    font-weight: lighter;
}

#buscador{
    width: 250px;
    height: 44px;
    font-family: KoHo;
    font-size: 15px;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    
}
.formBuscar{
    display: flex;
    flex-direction: row; 
    align-content: center; 
}
.boton-buscar{
    background-color:rgba(255, 255, 255);
    background-image: url(img/pokelupa.svg);
    background-position: center;
    width: 30px;
    height: 44px;
    background-repeat: no-repeat;
    border: 2px solid #BDBDBD;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    
}
.filter_type{
  border: 2px solid #BDBDBD;
  border-radius: 10px;  
  font-family: Koho;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 15px;
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-content: space-between;*/
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: auto;
}

#contenedor::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

#contenedor::-webkit-scrollbar-thumb {
    background: rgb(231, 117, 117);
    border-radius: 4px;
}

#contenedor::-webkit-scrollbar{
    width: 8px;     /* Tamaño del desplazamiento en vertical */
    height: 8px;    /* Tamaño del desplazamiento en horizontal */
}

#contenedor::-webkit-scrollbar-track{
    background-color: #e9e7e7;
    border-radius: 6px;
}

.contenedorPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: white;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}
.imgPokemon{
    height: 60%;
}

a{
    padding: 10px 0;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    color: black;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
}

.enlace{
    font-size: 14px;
}

aside{
    width: 320px;
    height: 240px;
    background-color: red;
    margin-top: 15px;
    margin: 0 auto;
}

/* POKEDEX */

.pokemon{
	width: 120px;
	height: 120px;
	background-color: grey;
}

.overlay{
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pokedex{
	display: flex;
	margin: 0 auto;
	width: 566px;
	height: 554px;
    flex-direction: row;
    animation: animatezoom 0.6s;
}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.pok_1{
	width: 348px;
	height: 554px;
	background-color: #D10707;
	border-radius: 40px 40px 0 40px;
}

.pok_2{
	width: 75px;
	height: 500px;
	background-color: #D10707;
	align-self: flex-end;
}

.pok_3{
	width: 58px;
	height: 500px;
	align-self: flex-end;
	flex-direction: column;
}

.pok_3_1{
	width: 0;
	height: 0;
	border-right: 58px solid transparent;
	border-bottom: 48px solid #D10707;
}

.pok_3_2{
	width: 58px;
	height: 452px;
	background-color: #D10707;
}


.pok_4{
	width: 85px;
	height: 452px;
	background-color: #D10707;
	align-self: flex-end;
	border-radius: 0 40px 40px 0;
}

.info{
	position: absolute;
	width: 566px;
	height: 554px;
	color: black;
    z-index: 1;
    padding: 30px;
    box-sizing: border-box;
}

.imgPokInfo{
    width: 150px;
    height: 150px;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.nameAndNum{
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text24{
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.text18{
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.text14{
    font-size: 14px;
}

.secondRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.moreInfo{
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.weight{
    display: flex;
    width: 60%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: row;
    padding-left: 20px;
    align-content: center;
    align-items: center;
}
.height{
    display: flex;
    width: 40%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.generation{
    display: flex;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: row;
    padding: 20px;
    align-content: center;
    align-items: center;
}
.type{
    text-align: center;
    box-sizing: border-box;
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: row;
    padding: 20px;
    align-content: center;
    align-items: center;
}

.icono{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.region{
    height: 42px;
    margin-right: 10px;
    align-content: center;
}

.thirdRow{
    width: 340px;
    height: 50px;
    background-color: black;
    margin: 0 auto 10px auto;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
}

.heart{
    width: 35px;
    height: 35px;
}

.glove{
    height: 35px;
}

.fourthRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.resistant{
    width: 45%;
    text-align: center;
}

.weaknesses{
    width: 45%;
    text-align: center; 
    padding-left: 35px;
}

.separar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 80px;
    
}

.tipos{
    font-size: 15px;
    width: 68px;
    height: 24px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    box-shadow: 4px 8px 8px rgb(117, 4, 4);
}

#boton-exit{
    background-image: url(img/boton.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    border: none;
    width: 30px;
    height: 30px;
    right: -30px;
    top: -70px;
    z-index: 2;
    cursor: pointer;
}


.pok_type_normal{background-color:#a8a878}
.pok_type_fire{background-color:#f08030}
.pok_type_water{background-color:#6890f0}
.pok_type_grass{background-color:#78c850}
.pok_type_poison{background-color:#a040a0}
.pok_type_electric{background-color:#f8d030}
.pok_type_ground{background-color:#e0c068}
.pok_type_psychic{background-color:#f85888}
.pok_type_rock{background-color:#b8a038}
.pok_type_ice{background-color:#98d8d8}
.pok_type_bug{background-color:#a8b820}
.pok_type_dragon{background-color:#7038f8}
.pok_type_ghost{background-color:#705898}
.pok_type_steel{background-color:#b8b8d0}
.pok_type_fairy{background-color:#ee99ac}
.pok_type_dark{background-color:#705848}
.pok_type_flying{background-color:#a890f0}
.pok_type_fighting{background-color:#c02038}


@media screen and (min-width: 768px){

    main{
        max-width: 750px;
    }

    section{
        width: 740px;
    }

    #contenedor{
        width: 720px;
    }

    aside{
        width: 740px;
    }

    form{
        justify-content: center;
        margin: 0 auto;
    }
    
    input{
        width: 338px;
    }

}

@media screen and (min-width: 1025px){
    main{
        display: flex;
        flex-direction: row;
        max-width: 90%;
        height: 540px;
        margin: 0 auto;
        justify-content: space-between;
    }

    section{
        width: 67%;
        height: 100%;
        margin: 0;
    }

    aside{
        width: 30%;
        height: 100%;
        margin-top: 0;
    }

    #contenedor{
        width: 90%;
        height: 400px;
        box-sizing: border-box;
    }

    .selectores{
        width: 90%;
        margin: 0 auto;
    }

    form{
        margin: 0;
    }
}